.pageName {
  margin-bottom: 5vh !important;
  margin-top: 10vh !important;
  font-size: 8vh;
  line-height: 1;
}

.germanFlag {
  position: fixed;
  top: 0;
  left: 0;
  background: green;
  display: block;
  width: 30px;
  height: 100vh;
  /* border-right: 2vh solid #ccc; */
  box-sizing: border-box;
}

.germanFlag__red,
.germanFlag__black,
.germanFlag__yellow {
  background: red;
  display: inline-block;
  width: 33%;
  height: 100%;
}

.germanFlag__black {
  background: black
}

.germanFlag__red {
  background: red
}

.germanFlag__yellow {
  background: yellow
}

.alert__no_content {
  background: #d32f2f !important;
  padding: 2rem 5rem;
  text-align: center;
  color: white !important;
}

.alert__no_content p {
  margin: 0
}
